@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  font-family: var(--font-family-lato);
  background: #eee;
}

/* UTILITY CLASSES */
.--font-family-poppins {
  font-family: Poppins, sans-serif;
}
.--font-family-lato {
  font-family: Lato, sans-serif;
}