.modal-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}

.yes-btn, .no-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.yes-btn {
  background: #e8f7ec;
  border-color: var(--color-green) ;
  color: var(--color-green);
}

.no-btn {
  background: #fdecea;
  border-color: var(--color-delete);
  color: var(--color-delete);
}
